<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeCare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF118A911F3B29DC00A897BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF118AA81F3B29DD00A897BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF118AB31F3B29DD00A897BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
